<section id="add_and_search">
    <div class="container text-center">
        <div class="row vcenter">
            <h2 id="admin_header" >Контроль препаратів</h2>
        </div>
            <div class="row vcenter">
                <div class="col-md-4">
                    <a href="/admin/add"><button id="add_new_btn">Додати новий</button></a>
                </div>
                <div class="col-md-8 confirm_btns">
                    <form action="#search_confirm">
                        <input type="text" id="admin_search" class="search" placeholder="Пошук...">
                        <button type="submit">Знайти</button>
                    </form>
                </div>
            </div>
        <hr id="l3">
    </div>
</section>

<!--<section id="params">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-8">-->
<!--</div>-->
<!--<form action="#change_parameeters">-->
<!--<div class="col-md-2">-->
<!--<h4>Сортувати за: </h4>-->
<!--<select class="form-control sort_param">-->
<!--<option value="name">За назвою</option>-->
<!--<option value="rating">За рейтингом</option>-->
<!--<option value="price">За ціною</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="col-md-2">-->
<!--<button id="set_param" type="submit">ОК</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--<hr>-->
<!--</div>-->
<!--</section>-->

<section id="analogs">
    <div class="container" id="data">
    {{#each products}}
        <div class="list_item">
            <div class="row">
                <div class="col-md-3" style="text-align: center;">
                    <a href="item/{{this.id}}" name="href1" class="decoration_none">
                        <img src="{{this.imagePath}}" class="analog_img">
                    </a>
                    <div class="rating vcenter" class="item_rating">
                        <div class="productRate">
                            <div style="width: {{this.rating}}%"></div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5">
                    <a href="item/{{this.id}}" name="href2" class="decoration_none">
                        <h2>{{this.name}}</h2>
                    </a>
                    <p class="active_substance"><span class="bold">Діюча речовина:</span> {{this.activeIngredients}}</p>
                    <p class="manufacturer"><span class="bold">Виробник:</span> {{this.manufacturer}}</p>
                    <p class="release_form"><span class="bold">Форма випуску:</span> {{this.form}}</p>
                </div>
                <div class="col-md-4 item_control">
                    <form action="admin/edit" method="post">
                        <button type="submit" name="edit" value="{{this.id}}">Редагувати</button>
                    </form>
                    <form action="admin/delete" method="post">
                        <button type="submit" name="delete" value="{{this.id}}">Видалити</button>
                    </form>
                </div>
            </div>
            <hr class="l2">
        </div>
    {{/each}}
    </div>
</section>

<script>

//
//    $(function () {
//
//        $("#search").autocomplete({
//            source: function (request, response) {
//                $.ajax({
//                    url: "/search_member",
//                    type: "GET",
//                    data: request,  // request is the value of search input
//                    success: function (data) {
//                        // Map response values to fiedl label and value
//                        response($.map(data, function (el) {
//                            return {
//                                label: el.name.toLowerCase(),
//                                value: el._id
//                            };
//                        }));
//                    }
//                });
//            },
//
//            // The minimum number of characters a user must type before a search is performed.
//            minLength: 3,
//
//            // set an onFocus event to show the result on input field when result is focused
//            focus: function (event, ui) {
//                this.value = ui.item.label;
//                // Prevent other event from not being execute
//                event.preventDefault();
//            },
//            select: function (event, ui) {
//                // Prevent value from being put in the input:
//                this.value = ui.item.label;
//                // Set the id to the next input hidden field
//                $(this).next("input").val(ui.item.value);
//                // Prevent other event from not being execute
//                event.preventDefault();
//                // optionnal: submit the form after field has been filled up
//                $('#search_form').submit();
//            }
//        });
//
//    });

    $(window).scroll(function(request, response) {
        if ($(window).scrollTop() >= ($(document).height() - $(window).height()) - 100) {
            console.log("ddd");
            $.ajax({
                url: "/load",
                type: "GET",
                //data: {count: $("#items_container").find(".item").length},
                success: function (data) {

                    if (data.length != 0) {
                        var container = $("#data");
                        var template = $(".list_item").first().clone();
                        for (var i = 0; i < 3; i++) {
                            $(template).find("h2").text(data[i].name);
                            $(template).find(".active_substance").html('<span class="bold">Діюча речовина:</span> ' + data[i].activeIngredients);
                            $(template).find(".manufacturer").html('<span class="bold">Виробник:</span> ' + data[i].manufacturer);
                            $(template).find(".release_form").html('<span class="bold">Форма випуску:</span> ' + data[i].form);
                            $(template).find("[name=edit]").attr("value", data[i]._id);
                            $(template).find("[name=delete]").attr("value",data[i]._id);
                            console.log(data[i]._id);
                            container.append(template);
                        }
                    }
                }
            });
        }
    });

</script>