<section id="edit_form">
    <div class="container">
        <div class="row vcenter">
            <h2 id="admin_header">Редагувати препарат</h2>
        </div>
        <form action="/admin/save" method="post">
            <input type="hidden" name="id" value="{{product._id}}">
            <div class="row field vcenter">
                <div class="col-md-4 field1">
                    <h4>Назва:</h4>
                </div>
                <div class="col-md-8 field2">
                    <input type="text" name="name" class="field_input" placeholder="Текст..." value="{{product.name}}">
                </div>
            </div>
            <div class="row field vcenter">
                <div class="col-md-4 field1">
                    <h4>Міжнародне найменування:</h4>
                </div>
                <div class="col-md-8 field2">
                    <input type="text" name="international_name" class="field_input" placeholder="Текст..." value="{{product.internationalName}}">
                </div>
            </div>
            <div class="row field vcenter">
                <div class="col-md-4 field1">
                    <h4>Виробник:</h4>
                </div>
                <div class="col-md-8 field2">
                    <input type="text" name="manufacturer" class="field_input" placeholder="Текст..." value="{{product.manufacturer}}">
                </div>
            </div>
            <div class="row field vcenter">
                <div class="col-md-4 field1">
                    <h4>Форма випуску:</h4>
                </div>
                <div class="col-md-8 field2">
                    <input type="text" name="form" class="field_input" placeholder="Текст..." value="{{product.form}}">
                </div>
            </div>
            <div class="row field vcenter">
                <div class="col-md-4 field1">
                    <h4>Діючі речовини:</h4>
                </div>
                <div class="col-md-8 field2">
                    <textarea type="text" name="active_ingredients" class="field_input" placeholder="Текст...">{{product.activeIngredients}}</textarea>
                </div>
            </div>
            <div class="row field vcenter">
                <div class="col-md-4 field1">
                    <h4>Термін придатності:</h4>
                </div>
                <div class="col-md-8 field2">
                    <input type="text" name="validity" class="field_input" placeholder="Текст..." value="{{product.validity}}">
                </div>
            </div>
            <div class="row field vcenter">
                <div class="col-md-4 field1">
                    <h4>Код АТС:</h4>
                </div>
                <div class="col-md-8 field2">
                    <input type="text" name="code_ats" class="field_input" placeholder="Текст..." value="{{product.codeATS}}">
                </div>
            </div>
            <div class="row field vcenter">
                <div class="col-md-4 field1">
                    <h4>Зображення:</h4>
                </div>
                <div class="col-md-8 field2">
                    <input type="file" name="image" value="{{product.imagePath}}">
                </div>
            </div>
            <div class="row field">
                <div class="col-md-4 field1">
                    <h4>Інструкція:</h4>
                </div>
                <div class="col-md-8 field2">
                    <textarea name="instruction" class="field_input">{{product.instructionUrl}}</textarea>
                </div>
            </div>
            <div class="row field vcenter confirm_btns">
                <a href="/admin"><button name="cancel" type="button">Скасувати</button></a>
                <button name="save" type="submit">Зберегти</button>
            </div>
        </form>
    </div>
</section>